<form role="form" method="post" action="/forgotPassword" id="formId">
	<div class="modal-header">							
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h4 class="modal-title" id="myModalLabel">Recover Password</h4>
	</div>
	<div class="modal-body">		
		<div class="form-group">
			<label for="emailAddress">Email Addess</label>
			<input type="text" class="form-control" id="emailAddress" name="emailAddress"/>
		</div>
        <div id="animateProgress">
            <h5 class="text-center text-success">
				Reset link will be sent to the email address that we have on record for the account specified above
			</h5>
			<div class="progress">
				<div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
				</div>
			</div>
		</div>							
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary" onclick="submitForm()">Submit</button>
	</div>
</form>					