@import './bootstrap/stylesheets/bootstrap';
@import 'cssresets';
@import 'variables';

@import 'font';

body {
    font-family: 'Josefin Sans', sans-serif;;
}

.top-margin {
    margin-top: 10px;
}

.bottom-marin {
     margin-top: 10px;
}

#image-cropper {
    text-align: center;
}

#animateProgress {
    display: none;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

input.cropit-image-input {
  visibility: hidden;
}

.cropit-preview { 
    background-color: #f8f8f8; 
    background-size: cover;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image-zoom-allignment {
    width: 150px;
    text-align: center;
    padding: 0
}
.cropit-preview-background {
  opacity: .2;
  cursor: auto;
}

.cropit-preview-image-container {
    cursor: move;
}

.image-size-label {
   margin-top: 10px;
}

.imageHover:hover img{
    opacity: 0.5;
}

.editBtn:hover input{
    display:block;
}

.editBtn{
    display: none;
    position: absolute;
    top: 50%;
    left:50%;
}