@import 'cssresets';
@import 'font';
@import 'variables';
@import './bootstrap/stylesheets/bootstrap';
@import 'coupontheme';

body {
    font-family: $font-family;
}

.top-margin {
    margin-top: 10px;
}

.bottom-marin {
     margin-top: 10px;
}

#image-cropper {
    text-align: center;
}

#animateProgress {
    display: none;
}

.progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

input.cropit-image-input {
  visibility: hidden;
}

.cropit-preview { 
    background-color: #f8f8f8; 
    background-size: cover;
    border: 2px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 200px;
    height: 200px;
    display: inline-block;
}

.image-zoom-allignment {
    width: 150px;
    text-align: center;
    padding: 0
}
.cropit-preview-background {
  opacity: .2;
  cursor: auto;
}

.cropit-preview-image-container {
    cursor: move;
}

.image-size-label {
   margin-top: 10px;
}

.profileImage img {
    transform:scale(1);
    -ms-transform:scale(1);
    -moz-transform:scale(1);
    -webkit-transform:scale(1);
    -o-transform:scale(1);
	-webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease;
}

.profileBox:hover .profileImage img {    
	cursor: pointer;
    transform:scale(1.5);
    -ms-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
}

.editBtn{
    position: absolute;    
    width: 100%;
    height: 100%;
    top: 0;
    -webkit-transition: all 2s ease;
  	-moz-transition: all 2s ease;
  	-o-transition: all 2s ease;
  	transition: all 2s ease;
}

.editBtn:hover{
    background: rgba(255, 255, 255, 0.5);    
}

.editBtn input{
    position: absolute;
    top: -100%;
    left: 40%;
     -webkit-transition: all 1s ease;
  	-moz-transition: all 1s ease;
  	-o-transition: all 1s ease;
  	transition: all 1s ease;
}

.editBtn:hover input{    
    top: 40%;
    left: 40%;
}
